@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.bear{
  width: 1000px;
}

#left-ear{
  transform-origin: 100px 82px;
  transition: all .2s linear;
}

#right-ear{
  transform-origin: 100px 82px;
  transition: all .2s linear;
}

.bear:hover #left-ear{
  transform: translate(0px,-10px);
}

.bear:hover #right-ear-ear{
  transform: translate(0px,-10px);
}
